---
import Layout from "../layouts/Layout.astro"

---

<Layout>
	<main>
		<section
			style="background: linear-gradient(180.00deg, rgba(255, 255, 255, 0) 40%, white 100%), linear-gradient(90deg, var(--color-lightgreen), var(--color-lightblue) 100%);"
			class="pt-36 pb-52 px-8 text-center"
		>
			<h1 class="">Create a Leaderboard</h1>
			<p class="text-lg max-w-5xl mx-auto">
				Cheer on your friends, or challenge them to a (definitely very
				friendly) competition!
			</p>
			<div class="flex gap-6 mt-8 justify-center">
				<a
					href="#!"
					class="button button--secondary"
				>
					Login
				</a>
				<a
					href="#!"
					class="button button--primary"
				>
					Register
				</a>
			</div>
			<div></div>
		</section>
	</main>
</Layout>
